
.head2head {
    max-width: 100%;
    height: 30px;
    margin: 0 auto;
    background: black;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 8px;

}
.navigation {
    max-width: 100%;
    width: 550px;
    margin: 0 auto;
    margin-top: 2rem;
     position: relative;
}
.ul__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reg__log_fomr {
    background-color: #161619;
    -webkit-border-radius: 0 12px 12px 0;
    -moz-border-radius: 0 12px 12px 0;
    border-radius: 0 12px 12px 0;
    height: 100%;
    left: 0;
    min-width: 400px;
    overflow-y: hidden;
    padding: 55px;
    position: fixed;
    top: 30px;
    width: -webkit-calc(25% + 24px);
    width: -moz-calc(25% + 24px);
    width: calc(25% + 24px);
    z-index: 999;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.logo i {
    font-size: 125px;
    color: #42826CFF;
    margin-left: -0.2em;
}
.logo a {
    font-weight: 540;
    text-align: center;
}
.logo span {
    color: #42826CFF;
}
.drop {
    width: 150px;
    height: 2px;
    margin: 13px 0 10px 40px;
    background: #42826CFF;
}
iframe {
    margin-left: 2rem;
}
.about__us {
    max-width: 100%;
    width: 550px;
    margin: 0 auto;
    margin-top: 2rem;
     position: relative;
}
.about__us  h2 {
    font-size: 35px;
    font-weight: 800;
    margin-top: 155px;
    margin-bottom: 35px;
}
.about__us p {
    font-size: 19px;
    letter-spacing: 0.2px;
}
.about__us span {
    color: #42826CFF;
    font-weight: 900;
}

.reg__log_fomr a {
    color: #fff;
    font-size: 2.2rem;
    margin-left: 5rem;
}
.Log_form {
    max-width: 100%;
    width: 380px;
    margin-top: 60px;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
}
.Log_in {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.input-group {
    position: relative;
    margin-bottom: 25px;
    width: 350px;
}
.input {
    width: 285px;
    height: 38px;
    padding: 12px;
    border: none;
    border-radius: 2px;
    font: inherit;
    color: #fff;
    background-color: transparent;
    outline: 2px solid #fff;
}
.fa-right-to-bracket {
    margin-right: 25px;
}
.fa-unlock-keyhole {
    margin-right: 25px;
}
.chekbox-group {
    margin-top: 12px;
    width: 350px;
}
label {
    color: #fff;
    font-size: 18px;
}
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -105px;
    -webkit-transform: translate(150px, 10px);
        -ms-transform: translate(150px, 10px);
            transform: translate(150px, 10px);
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    -o-transition: transform .25s;
    transition: transform .25s;
    transition: transform .25s, -webkit-transform .25s;
  }
.input:focus+.input-label,
  .input:valid+.input-label {
    -webkit-transform: translate( 150px, -18px)scale(.8) ;
        -ms-transform: translate( 150px, -18px)scale(.8) ;
            transform: translate( 150px, -18px)scale(.8) ;
    color: #d1e5fc;
    padding-inline: 8px ;
  }
  .enter_btn{
  border-radius: 35px;
  max-width: 100%;
  width: 300px;
  height: 58px;
  margin-top: 19px;
  cursor: pointer;
  font-size: 20px;
  background: #42826CFF;
  color: #d1e5fc;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  }
  .enter_btn:hover {
    -webkit-transform: scale(1.075);
        -ms-transform: scale(1.075);
            transform: scale(1.075);
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    cursor: pointer;
  }

  .reg__btn {
    border-radius: 35px;
    max-width: 100%;
    width: 300px;
    height: 58px;
    margin-top: 19px;
  cursor: pointer;
  font-size: 18px;
  background: #212529FF;
  color: #d1e5fc;
 -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  }
  .reg__btn:hover {
    -webkit-transform: scale(1.075);
        -ms-transform: scale(1.075);
            transform: scale(1.075);
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    cursor: pointer;
  }

.icon-container {
  width: 100%;
  padding: 5px 0;
  margin-left: -55px;
  display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: 55px;
}
.fa-youtube:hover {
  color: #FF0000FF;
}
.fa-instagram:hover {
color: #962fbf;
}
.fa-facebook:hover {
  color: #1877F2FF;
}
/* service  */

  .acordeon_container {
    max-width: 100%;
    width: 750px;
    margin: 0 auto;
    margin-top: 3.5rem;
    color: #fff;
  }
  .content__title i {
    color: #161619FF;
  }

  .acordeon_container .acordeon__box {
    position: relative;
    margin: 10px 20px ;
  }
  .acordeon_container .acordeon__box .content__title {
    position: relative;
    padding: 10px;
    background: #42826CFF;
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
  } 
  .acordeon_container .acordeon__box .content__title::before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: 800;
  }
  .acordeon_container .acordeon__box  .acordeon__content {
    position: relative;
    background: #42826CFF;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    font-size: 17px;
    text-align: center;
  }
  .acordeon_container .acordeon__box.active  .acordeon__content {
    height: 100px;
    padding-top: 15px;
  }
  .brend__list{
    max-width: 100%;
    width: 800px;
    
  }

.list__wraper {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.contact {
  max-width: 100%;
  width: 750px;
  margin: 0 auto;
  margin-top: 3.5rem; 
  display: flex;
  flex-direction: column;
}
.contact__info {
  display: flex;
  justify-content: space-between;
}
.icon__form {
  max-width: 100%;
  width: 65px;
  height: 65px;
  border-radius: 35px;
  background: #42826CFF;
}
.icon__form  i {
  font-size: 35px;
  color: #fff;
  padding: 0.75rem;
  font-weight: 800;
}
.icon__form h2 {
 color: #161619;
 font-size: 26px;
 font-weight: 500;
 margin-top: 18px;
 padding-bottom: 15px;
}
.icon__form  a {
  font-size: 19px;
  padding-top: 19px;
  white-space: nowrap;
  color: #161619;
}

.contact__form {
  max-width: 100%;
  width: 850px;
  height: 550px;
  margin: 0 auto;
  margin-top: 6.5rem;
  margin-right: -5rem; 
}
.Send-btn {
  max-width: 352px 100%;
  width: 352px;
  height: 60px;
  cursor: pointer;
  background: #42826CFF;
  font-size: 14px;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  color: #d1e5fc;
  }
  .Send-btn:hover {
    -webkit-transform: scale(1.045);
        -ms-transform: scale(1.045);
            transform: scale(1.045);
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  .textarea-block {
    width: 480px;
    height: 158px;
    resize: none;
    background: #F8F8F8;
    outline: 2px solid #d1e5fc;
    margin: 1rem -5.5rem;
  }
  .textareablock {
    margin-left: 12rem;
  }
  .input__group label {
    color: #161619;
  }
  .input__group input {
    outline: 2px solid #42826CFF;
  }
  .input__group input:focus+.input-label,
  .input__group input:valid+.input-label {
    -webkit-transform: translate( 150px, -18px)scale(.8) ;
        -ms-transform: translate( 150px, -18px)scale(.8) ;
            transform: translate( 150px, -18px)scale(.8) ;
    color: #161619;
    padding-inline: 8px ;