

/* Header */
.head2head {
    max-width: 100%;
    height: 30px;
    background: black;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 8px;
}
header {
  position: sticky;
  top: 0;
  z-index: 999;
}
.navigation {
    max-width: 95%;
    width: 1200px;
    height: 15%;
    background: #fff;
    margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 1rem;
     
}
.ul__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li_item{
  position: relative;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: #a0a0a0;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
.li_item:after{
  content: "";
  position: absolute;
  background-color: #42826CFF;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.li_item:hover{
  color: #ffffff;
}
.li_item:hover:after{
  width: 100%;
}
.li_item a {
  color: #161619FF;
}
.burger__bar {
  display: flex;
  flex-direction: column;
  display: none;
}
.burger__span {
  width: 1.9rem;
  height: 0.2rem;
  background: #42826CFF;
  margin-bottom: 7px;
} 
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo i {
    font-size: 40px;
    color: #42826CFF;
}
.logo a {
  font-size: 30px;
    font-weight: 540;
    text-align: center;
    color: #161619FF;
}
.logo span {
    color: #42826CFF;
}
.drop {
    width: 150px;
    height: 2px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background: #42826CFF;
}
/* man background  */
.custom-shape-divider-bottom-1671731562 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1671731562 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 258px;
}
.custom-shape-divider-bottom-1671731562 .shape-fill {
  fill: #42826CFA;
}
/* about */
.about__us {
    max-width: 100%;
    width: 550px;
    margin: 0 auto;
    margin-top: -2.2rem;
}
.about__us  h2 {
    font-size: 35px;
    font-weight: 800;
    margin-top: 155px;
    margin-bottom: 35px;
}
.about__us p {
    font-size: 19px;
    letter-spacing: 0.2px;
}
.about__us span {
    color: #42826CFF;
    font-weight: 900;
}
.Log_in {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.input-group {
    position: relative;
    margin-bottom: 25px;
    width: 350px;
}
.input {
    width: 285px;
    height: 38px;
    padding: 12px;
    border: none;
    border-radius: 2px;
    font: inherit;
    color: #fff;
    background-color: transparent;
    outline: 2px solid #fff;
}
.fa-right-to-bracket {
    margin-right: 25px;
}
.fa-unlock-keyhole {
    margin-right: 25px;
}
.chekbox-group {
    margin-top: 12px;
    width: 350px;
}
label {
    color: #fff;
    font-size: 18px;
}
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -105px;
    -webkit-transform: translate(150px, 10px);
        -ms-transform: translate(150px, 10px);
            transform: translate(150px, 10px);
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    -o-transition: transform .25s;
    transition: transform .25s;
    transition: transform .25s, -webkit-transform .25s;
  }
.input:focus+.input-label,
  .input:valid+.input-label {
    -webkit-transform: translate( 150px, -18px)scale(.8) ;
        -ms-transform: translate( 150px, -18px)scale(.8) ;
            transform: translate( 150px, -18px)scale(.8) ;
    color: #d1e5fc;
    padding-inline: 8px ;
  }
  .enter_btn{
  border-radius: 35px;
  max-width: 100%;
  width: 300px;
  height: 58px;
  cursor: pointer;
  font-size: 20px;
  background: #42826CFF;
  color: #d1e5fc;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  }
  .enter_btn_small {
    width: 120px;
  height: 35px;
  margin-left: 12px;
  font-size: 15px;
  border-radius: 8px;
  }
  .enter_btn:hover {
    -webkit-transform: scale(1.075);
        -ms-transform: scale(1.075);
            transform: scale(1.075);
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    cursor: pointer;

  }
  .reg__btn {
    border-radius: 35px;
    max-width: 100%;
    width: 300px;
    height: 58px;
    
  cursor: pointer;
  font-size: 18px;
  background: #212529FF;
  color: #d1e5fc;
 -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  }
  .reg__btn:hover {
    -webkit-transform: scale(1.075);
        -ms-transform: scale(1.075);
            transform: scale(1.075);
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    cursor: pointer;
  }
.reg__btn_small {
  width: 120px;
  height: 35px;
  font-size: 15px;
  border-radius: 8px;
}
.icon-container {
  width: 100%;
  padding: 5px 0;
  margin-left: -55px;
  display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: 55px;
}
/* service  */

  .acordeon_container {
    max-width: 100%;
    width: 750px;
    margin: 0 auto;
    margin-top: 3.5rem;
    color: #fff;
  }
  .content__title i {
    color: #161619FF;
  }

  .acordeon_container .acordeon__box {
    position: relative;
    margin: 10px 20px ;
  }
  .acordeon_container .acordeon__box .content__title {
    position: relative;
    padding: 10px;
    background: #42826CFF;
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
  } 
  .acordeon_container .acordeon__box .content__title::before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: 800;
  }
  .acordeon_container .acordeon__box  .acordeon__content {
    position: relative;
    background: #42826CFF;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    font-size: 17px;
    text-align: center;
  }
  .acordeon_container .acordeon__box.active  .acordeon__content {
    height: 100px;
    padding-top: 15px;
  }
  .brend__list{
    max-width: 100%;
    width: 800px;
    margin: 0 auto;
    margin-top: 5rem;
  }
  .brend__list h2 {
    text-align: center;
  }
.list__wraper {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.shop__list {
  margin-top: 5rem;
  margin-left: 2rem;
}
.contact {
  max-width: 100%;
  width: 750px;
  margin: 0 auto;
  margin-top: 3.5rem; 
  display: flex;
  flex-direction: column;
}
.contact__info {
  display: flex;
  justify-content: space-between;
}
.icon__form {
  max-width: 100%;
  width: 65px;
  height: 65px;
  border-radius: 35px;
  background: #42826CFF;
}
.icon__form  i {
  font-size: 35px;
  color: #fff;
  padding: 0.75rem;
  font-weight: 800;
}
.icon__form h2 {
 color: #161619;
 font-size: 26px;
 font-weight: 500;
 margin-top: 18px;
 padding-bottom: 15px;
}
.icon__form  a {
  font-size: 19px;
  padding-top: 19px;
  white-space: nowrap;
  color: #161619;
}

.contact__form {
  max-width: 100%;
  width: 850px;
  height: 550px;
  margin: 0 auto;
  margin-top: 6.5rem;
  margin-right: -5rem; 
}
.Send-btn {
  max-width: 100%;
  width: 288px;
  height: 60px;
  cursor: pointer;
  background: #42826CFF;
  font-size: 14px;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  color: #d1e5fc;
  }
  .Send-btn:hover {
    -webkit-transform: scale(1.045);
        -ms-transform: scale(1.045);
            transform: scale(1.045);
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  .textarea-block {
    width: 480px;
    height: 158px;
    resize: none;
    background: #F8F8F8;
    outline: 2px solid #d1e5fc;
    margin: 1rem -5.5rem;
  }
  .textareablock {
    margin-left: 12rem;
  }
  .input__group label {
    color: #161619;
  }
  .input__group input {
    outline: 2px solid #42826CFF;
  }
  .input__group input:focus+.input-label,
  .input__group input:valid+.input-label {
    -webkit-transform: translate( 150px, -18px)scale(.8) ;
        -ms-transform: translate( 150px, -18px)scale(.8) ;
            transform: translate( 150px, -18px)scale(.8) ;
    color: #161619;
    padding-inline: 8px ;
  }
  .zero__profile {
    max-width: 100%;
    width: 50px;
    height: 50px;
    border-radius: 35px;
    outline-style: groove;
    outline-color: #d1e5fc;
  }
  .zero__profile i {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin: 10px 0 0 14px ;
  }
  .user__info {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    
  }
  .user__info2 h2 {
    font-size: 19px;
    color: #fff;
    margin-bottom: 2rem;
    margin-right: 10px;
  }
  .user__info2 h3 {
    color: #d1e5fc;
    margin-bottom: 2rem;
    margin-right: 10px;
  }
  .balans__info {
    max-width: 100px;
    height: 85px;
    background: #1F1F22FF;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
  }
   .balans__info h2 {
    font-size: 15px;
    color: #fff;
    margin-bottom: 1.5rem;
   }
    .balans__info h3 {
      color: #30BF54FF;
      font-size: 18px;
    }
.main__info i {
  display: flex;
  font-size: 1.5rem;
  padding-bottom: 1.8rem;
  margin-left: 1.9rem;
  color: #a0a0a0;
}

.log_reg {
  display: none;
} 
.log_reg.log_reg_active {
  max-width: 100%;
  width: 550px;
  height: 550px;
  background: #42826CFF;
  position: absolute;
  display: block;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 12px;
  padding-top: 35px;
  z-index: 9999;
}
.log_reg_active button {
  margin-left: 6rem;
  margin-top: 55px;
}
.user__profile {
  max-width: 100%;
  width: 350px;
  height: 100vh;
  background: #161619;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
.main__profile {
  margin-top: 12rem;
}
.fa-youtube:hover {
  color: #FF0000FF;
}
.fa-instagram:hover {
color: #962fbf;
}
.fa-facebook:hover {
  color: #1877F2FF;
}
.icon_info {
  font-size: 2.5rem;
}
.icon_info i {
  margin-top: 3rem;
  margin-left: 2.5rem;
  color: #d1e5fc;
}
